@font-face {
  font-family: 'Basica';
  src: url('~assets/fonts/Basica.ttf') format('truetype'), url('~assets/fonts/Basica.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
